@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@400;700&display=swap");
$bg: #1d201f;
$text: #fffffa;
$headBg: #9381ff;
$cardBg: #6247aa;
$html: #fc9f5b;
$js: #fc6471;
$java: #16bac5;

body {
  margin: 0;
  padding: 0;
  background-color: $bg;
  color: $text;
  font-family: "Pragati Narrow", sans-serif;
  header {
    background-color: $headBg;
    text-align: center;
    padding: 3rem;
    h1 {
      margin: 0;
      font-family: "Bungee", cursive;
      font-size: 2.5rem;
    }
    p {
      font-size: 1.2rem;
      margin: 0;
    }
  }
  .main {
    .repos {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 50%;
      row-gap: 3rem;
      justify-items: center;
      margin: auto;
      margin-top: 2rem;
      .section-title {
        font-family: "Bungee", cursive;
        grid-column: 1/4;
        margin: 0;
      }
      .repo {
        // padding: 1rem;
        width: 80%;
        border: 2px solid $cardBg;
        color: $text;
        border-radius: 1rem;
        text-decoration: none;
        * {
          margin: 0;
          padding: 0 1rem;
        }
        h3 {
          background-color: $cardBg;
          border-top-right-radius: 0.8rem;
          border-top-left-radius: 0.8rem;
        }
        .desc {
          padding: 1rem 1rem 2rem 1rem;
        }
        position: relative;
        .language {
          position: absolute;
          bottom: 0;
          left: 1.2rem;
          &::before {
            content: " ";
            position: absolute;
            left: -0.2rem;
            width: 1rem;
            height: 1rem;
            top: calc(50% - 0.5rem);
            border-radius: 50%;
            background-color: #fff;
          }
        }
        .javascript::before {
          background-color: $js;
        }
        .html::before {
          background-color: $html;
        }
        .java::before {
          background-color: $java;
        }
        &:hover {
          animation: 0.1s bgFade forwards;
        }
      }
    }
  }
}

@keyframes bgFade {
  100% {
    background-color: $cardBg;
  }
}
